:root {
  --color-blue: #515DEF;
  --color-black: #333333;
  --color-grey: #909090;
  --color-white: #FBFBFB;
  --font-primary: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: var(--color-blue);
  font-family: var(--font-primary);
  background-image: url('../img/iro-background@2x.jpg');
  background-position: top right;
  background-size: 40%;
  background-repeat: no-repeat;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

header.main-header {
  display: flex;
  align-items: center;
  gap: 148px;
  margin-bottom: 10px;
  padding-top: 33px;
  padding-bottom: 33px;
}

nav.main-menu {
  width: 100%;
}

nav.main-menu ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 56px;
  list-style: none;
}

nav.main-menu a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 300;
  display: inline-block;
  transition: transform 0.3s;
}

nav.main-menu a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

nav.main-menu ul li:last-child{
  margin-left: auto;
}

nav.main-menu ul li:last-child a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--color-blue);
}

nav.main-menu ul li:last-child a:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  transform: none;
  text-decoration: none;
}

section.hero {
  width: 55%;
  color: var(--color-white);
  margin-bottom: 60px;
}

section.hero p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

section.hero h1 {
  font-size: 55px;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 20px;
}

section.hero p:nth-of-type(2) {
  margin-bottom: 40px;
}

section.hero a {
  padding: 5px 12px;
  background-color: var(--color-white);
  color: var(--color-black);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
}

section.categories {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: 30px 110px;
}

section.categories article {
  width: 100%;
  padding: 20px;
}

section.categories img {
  width: 50px;
}

section.categories h3 {
  font-size: 16px;
  color: var(--color-black);
  font-weight: 500;
}

section.categories p {
  font-weight: 300;
  color: var(--color-grey);
  font-size: 16px;
}